/*Screen sizes for media queries*/
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-hdready: 1280px;
$breakpoint-desktop-fullhd: 1920px;

.card-train {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  filter: drop-shadow(0 5px 10px #383838);
  transition: filter 0.3s ease-in-out;
  will-change: filter;

  &__front,
  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #727272;
    background-color: rgba($color: #232323, $alpha: 0.3);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  &__back {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  &_flipped &__front {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  &_flipped &__back  {
    transform: rotate3d(0, 1, 0, 360deg);
  }

  &__picture {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__word {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #dfdfdf;
  }

  &__btn-flip {
   position: absolute;
   bottom: 0;
   right: 0;
   background-image: url(../../assets/icons/card-flip.svg);
   background-repeat: no-repeat;
   background-position: center;
   transition: filter 0.2s ease-in-out;
   will-change: filter;

   &:hover {
     filter: drop-shadow(0 0 5px #dfdfdf);
   }
  }

  &:hover {
    filter: drop-shadow(0 10px 20px #383838);
  }
}

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile) {

  .card-train {
    width: 120px;
    height: 120px;
    perspective: 300px;
    transition-duration: 0.8;

    &__picture {
      height: 100px;
    }

    &__word {
      height: 20px;
    }

    &__btn-flip {
      width: 20px;
      height: 20px;
    }
  }
}

/*from 768 to 1023*/
@media screen and (min-width: $breakpoint-tablet) {

  .card-train {
    width: 180px;
    height: 180px;
    perspective: 300px;
    transition-duration: 0.8;

    &__picture {
      height: 150px;
    }

    &__word {
      height: 30px;
    }

    &__btn-flip {
      width: 30px;
      height: 30px;
    }
  }
}

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop) {

  .card-train {
    width: 220px;
    height: 220px;
    perspective: 600px;
    transition-duration: 0.8;

    &__picture {
      height: 190px;
    }

    &__word {
      height: 30px;
    }

    &__btn-flip {
      width: 30px;
      height: 30px;
    }
  }
}

/*from 1280 to 1919*/
@media screen and (min-width: $breakpoint-desktop-hdready) {

  .card-train {
    width: 220px;
    height: 220px;
    perspective: 600px;
    transition-duration: 0.5;

    &__picture {
      height: 190px;
    }

    &__word {
      height: 30px;
    }

    &__btn-flip {
      width: 30px;
      height: 30px;
    }
  }
}

/*from 1920 and up*/
@media screen and (min-width: $breakpoint-desktop-fullhd) {

  .card-train {
    width: 260px;
    height: 260px;
    perspective: 600px;
    transition-duration: 0.5;

    &__picture {
      height: 220px;
    }

    &__word {
      font-size: 22px;
      height: 40px;
    }

    &__btn-flip {
      width: 40px;
      height: 40px;
    }
  }
}