$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-hdready: 1280px;
$breakpoint-desktop-fullhd: 1920px;

/*Base styles*/
.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(rgba($color: #202020, $alpha: 0.8),
                              rgba($color: #202020, $alpha: 0));

  &__btn__menu {
    z-index: 20;
    opacity: 1;
    background-image: url(../../assets/icons/menu-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: filter 0.2s ease-out;
    will-change: filter;

    &:hover {
      filter: drop-shadow(0 0 4px #afafaf);
    }

    &_close {
      background-image: url(../../assets/icons/menu-close.svg);
    }

    &_animate {
      transition: 0.3s ease-in-out;
      transition-property: transform, opacity;
      will-change: transform, opacity;
      transform: rotateZ(180deg);
      opacity: 0;
    }
  }

  &__stars-box {
    display: none;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;

    &_enabled {
      display: flex;
      opacity: 1;
    }
  }

  &__switch__mode {
    position: relative;
    display: block;

    &__input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 5px;
      border-radius: 16px;
      background-color: #54899e;
      filter: drop-shadow(0 0 2px #54899e);
      font-family: 'Roboto', sans-serif;
      color: white;
      transition: 0.3s ease-in-out;
      transition-property: background-color, filter;
      will-change: background-color, filter;

      &::before {
        position: absolute;
        opacity: 1;
        content: "Train";
        transition: opacity 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        opacity: 0;
        content: "Play";
        transition: opacity 0.3s ease-in-out;
      }
    }

    &__handle {
      position: absolute;
      content: "";
      background-color: #dfdfdf;
      border-radius: 50%;
      filter: drop-shadow(0 0 2px #535353);
      transition: transform 0.3s ease-in-out;
    }

    &__input:checked + &__slider {
      background-color: #9e9154;
      filter: drop-shadow(0 0 2px #9e9154);
    }
    &__input:checked + &__slider::before {
      opacity: 0;
    }
    &__input:checked + &__slider::after {
      opacity: 1;
    }
  }
}

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile)
              and (orientation: portrait) {
  .header {
    height: 42px;
    padding: 0 10px;

    &__btn__menu {
      width: 32px;
      height: 32px;
    }

    &__switch__mode {
      width: 80px;
      height: 26px;
      border-radius: 13px;

      &__slider {
        font-size: 18px;

        &::before {
          top: 2px;
          left: 8px;
        }
  
        &::after {
          top: 2px;
          right: 8px;
        }
      }

      &__handle {
        height: 24px;
        width: 24px;
        left: 54px;
        bottom: 1px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-52px);
      }
    }
  }
}

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile)
              and (orientation: landscape) {
  .header {
    height: 42px;
    padding: 0 50px;

    &__btn__menu {
      width: 32px;
      height: 32px;
    }

    &__switch__mode {
      width: 80px;
      height: 26px;
      border-radius: 13px;

      &__slider {
        font-size: 18px;

        &::before {
          top: 2px;
          left: 8px;
        }
  
        &::after {
          top: 2px;
          right: 8px;
        }
      }

      &__handle {
        height: 24px;
        width: 24px;
        left: 54px;
        bottom: 1px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-52px);
      }
    }
  }
}

/*from 768 to 1023*/
@media screen and (min-width: $breakpoint-tablet) {
  .header {
    height: 62px;
    padding: 0 100px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__switch__mode {
      width: 80px;
      height: 32px;
      border-radius: 16px;

      &__slider {
        font-size: 18px;

        &::before {
          top: 4px;
          left: 6px;
        }
  
        &::after {
          top: 4px;
          right: 6px;
        }
      }

      &__handle {
        height: 28px;
        width: 28px;
        left: 50px;
        bottom: 2px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-48px);
      }
    }
  }
}

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop) {
  .header {
    height: 62px;
    padding: 0 100px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__switch__mode {
      width: 80px;
      height: 32px;
      border-radius: 16px;

      &__slider {
        font-size: 18px;
        &::before {
          top: 4px;
          left: 6px;
        }
  
        &::after {
          top: 4px;
          right: 6px;
        }
      }

      &__handle {
        height: 28px;
        width: 28px;
        left: 50px;
        bottom: 2px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-48px);
      }
    }
  }
}

/*from 1280 to 1919*/
@media screen and (min-width: $breakpoint-desktop-hdready) {
  .header {
    height: 62px;
    padding: 0 320px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__switch__mode {
      width: 80px;
      height: 32px;
      border-radius: 16px;

      &__slider {
        font-size: 18px;

        &::before {
          top: 4px;
          left: 8px;
        }
  
        &::after {
          top: 4px;
          right: 8px;
        }
      }

      &__handle {
        height: 28px;
        width: 28px;
        left: 50px;
        bottom: 2px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-48px);
      }
    }
  }
}

/*from 1920 and up*/
@media screen and (min-width: $breakpoint-desktop-fullhd) {
  .header {
    height: 62px;
    padding: 0 400px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__switch__mode {
      width: 100px;
      height: 32px;
      border-radius: 16px;

      &__slider {
        font-size: 18px;

        &::before {
          top: 4px;
          left: 20px;
        }
  
        &::after {
          top: 4px;
          right: 20px;
        }
      }

      &__handle {
        height: 28px;
        width: 28px;
        left: 70px;
        bottom: 2px;
      }

      &__input:checked ~ &__handle {
        transform: translateX(-68px);
      }
    }
  }
}