$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-hdready: 1280px;
$breakpoint-desktop-fullhd: 1920px;

/*Base styles*/
.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(rgba($color: #202020, $alpha: 0.8),
                              rgba($color: #202020, $alpha: 0));

  &__btn__menu {
    z-index: 20;
    opacity: 1;
    background-image: url(../../assets/icons/menu-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: filter 0.2s ease-out;
    will-change: filter;

    &:hover {
      filter: drop-shadow(0 0 4px #afafaf);
    }

    &_close {
      background-image: url(../../assets/icons/menu-close.svg);
    }

    &_animate {
      transition: 0.3s ease-in-out;
      transition-property: transform, opacity;
      will-change: transform, opacity;
      transform: rotateZ(180deg);
      opacity: 0;
    }
  }

  &__btn__mode {
    background-color: #afafaf;
  }
}

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile) {
  .header {
    height: 42px;
    padding: 0 50px;

    &__btn__menu {
      width: 32px;
      height: 32px;
    }

    &__btn__mode {
      width: 84px;
      height: 32px;
      border-radius: 16px;
    }
  }
}

/*from 768 to 1023*/
@media screen and (min-width: $breakpoint-tablet) {
  .header {
    height: 62px;
    padding: 0 100px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__btn__mode {
      width: 84px;
      height: 32px;
      border-radius: 16px;
    }
  }
}

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop) {
  .header {
    height: 62px;
    padding: 0 100px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__btn__mode {
      width: 84px;
      height: 32px;
      border-radius: 16px;
    }
  }
}

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop-hdready) {
  .header {
    height: 62px;
    padding: 0 320px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__btn__mode {
      width: 84px;
      height: 32px;
      border-radius: 16px;
    }
  }
}

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop-fullhd) {
  .header {
    height: 62px;
    padding: 0 400px;

    &__btn__menu {
      width: 42px;
      height: 42px;
    }

    &__btn__mode {
      width: 84px;
      height: 32px;
      border-radius: 16px;
    }
  }
}