/*Screen sizes for media queries=============================================*/
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-hdready: 1280px;
$breakpoint-desktop-fullhd: 1920px;


/*Basic rules================================================================*/
.stats__btn__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stats__table__wrapper {
  box-shadow: 0 4px 15px #383838;
  background-color: rgba($color: #afafaf, $alpha: 0.2);
}

.stats__table {
  &__upper,
  &__lower {
    display: block;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #232323;
  }

  &__upper {
    background: linear-gradient(#dfdfdf, #afafaf);
    border-bottom: 1px solid #232323;
  }

  &__lower {
    overflow-y: scroll;
  }

  &__head,
  &__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    &__row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &__data {
      flex-basis: 100%;
    }
  }

  &__head {
    height: 100%;

    &__data {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      height: 100%;

      &:hover {
        background-color: rgba($color: #5c5c5c, $alpha: 0.4);
      }

      &_active {
        background-color: rgba($color: #54899e, $alpha: 0.4);
        background-image: url(../../assets/icons/stats-sort.svg);
        background-repeat: no-repeat;
      }

      &_active + &::after {
        display: initial;
      }
    }
  }

  &__body__row:nth-child(odd) {
    background-color: rgba($color: #acacac, $alpha: 0.4);
  }

  &__body__row:nth-child(even) {
    background-color: rgba($color: #afaf00, $alpha: 0.4);
  }
  
}


/*Mobile=====================================================================*/

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile)
              and (orientation: portrait) {
  .stats__btn__wrapper {
    padding: 0 10px;
  }

  .stats__table__wrapper {
    width: 100vw;
    height: 80vh;
    border: none;
  }

  .stats__table {
    &__upper {
      height: 20px;
      font-size: 12px;
    }

    &__lower {
      height: calc(100% - 20px);
      font-size: 12px;
    }

    &__head__data_active {
      background-image: none;
    }
  }
}

/*from 320 to 767*/
@media screen and (min-width: $breakpoint-mobile)
              and (orientation: landscape) {
  .stats__btn__wrapper {
    padding: 0 10px;
  }

  .stats__table__wrapper {
    width: 100vw;
    height: 65vh;
    border: none;
  }

  .stats__table {
    &__upper {
      height: 20px;
      font-size: 12px;
    }

    &__lower {
      height: calc(100% - 20px);
      font-size: 12px;
    }

    &__head__data_active {
      background-image: none;
    }
  }
}


/*Tablet=====================================================================*/

/*from 768 to 1023*/
@media screen and (min-width: $breakpoint-tablet) {
  .stats__btn__wrapper {
    padding: 0 20px;
  }

  .stats__table__wrapper {
    width: 100vw;
    height: 850px;
    border: none;
  }

  .stats__table {
    &__upper {
      height: 30px;
      font-size: 16px;
    }

    &__lower {
      height: 820px;
      font-size: 14px;
    }

    &__head__data_active {
      background-image: url(../../assets/icons/stats-sort.svg);
      background-size: 15px;
      background-position: left 2px center;
    }
  }
}


/*Desktop====================================================================*/

/*from 1024 to 1279*/
@media screen and (min-width: $breakpoint-desktop) {
  .stats__btn__wrapper {
    padding: 0 20px;
  }

  .stats__table__wrapper {
    width: 100vw;
    height: 590px;
    border: 1px solid #787878;
  }

  .stats__table {
    &__upper {
      height: 30px;
      font-size: 18px;
    }

    &__lower {
      height: 558px;
      font-size: 16px;
    }

    &__head__data_active {
      background-image: url(../../assets/icons/stats-sort.svg);
      background-size: 15px;
      background-position: left 5px center;
    }
  }
}


/*HD Ready===================================================================*/

/*from 1280 to 1919*/
@media screen and (min-width: $breakpoint-desktop-hdready) {
  .stats__btn__wrapper {
    padding: 0 0;
  }

  .stats__table__wrapper {
    width: 1240px;
    height: 544px;
    border: 1px solid #787878;
  }

  .stats__table {
    &__upper {
      height: 40px;
      font-size: 18px;
    }

    &__lower {
      height: 502px;
      font-size: 16px;
    }

    &__head__data_active {
      background-image: url(../../assets/icons/stats-sort.svg);
      background-size: 20px;
      background-position: left 5px center;
    }
  }
}

/*Tablet=====================================================================*/

/*from 1920 and up*/
@media screen and (min-width: $breakpoint-desktop-fullhd) {
  .stats__btn__wrapper {
    padding: 0 0;
  }

  .stats__table__wrapper {
    width: 1600px;
    height: 800px;
    border: 1px solid #787878;
  }

  .stats__table {
    &__upper {
      height: 40px;
      font-size: 20px;
    }

    &__lower {
      height: 758px;
      font-size: 18px;
    }

    &__head__data_active {
      background-image: url(../../assets/icons/stats-sort.svg);
      background-size: 20px;
      background-position: left 5px center;
    }
  }
}